@using DTcms.Web.HtmlExtensions;
@using DTcms.Web.UI;
@using System.Data;

@{
    DTcms.Model.article_category nav1 = new DTcms.BLL.article_category().GetModel(25);
    DTcms.Model.site_channel nav2 = new DTcms.BLL.site_channel().GetModel("news");
    DTcms.Model.article_category nav3 = new DTcms.BLL.article_category().GetModel(64);
    DTcms.Model.site_channel nav4 = new DTcms.BLL.site_channel().GetModel("cases");
    DTcms.Model.article_category nav5 = new DTcms.BLL.article_category().GetModel(61);
}
<div class="footer-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="menu-item col-md-3">
                        <dl>
                            <dt>@nav1.title</dt>
                            <dd>
                                @{ DataTable btmList = new BasePage().get_article_list("content", 25, 0, "status=0");}
                                @foreach(DataRow dr in btmList.Rows){
                                <a href='/content/index?page=@(dr["call_index"])#s@(dr["id"])'>@dr["title"]</a>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="menu-item col-md-2">
                        <dl>
                            <dt>@nav2.title</dt>
                            <dd>
                                @{ DataTable btmList2 = new BasePage().get_category_child_list("news", 0);}
                                @foreach(DataRow cdr in btmList2.Rows) { 
                                <a href='/news/list?category_id=@cdr["id"]'>@cdr["title"]</a>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="menu-item col-md-2">
                        <dl>
                            <dt>@nav3.title</dt>
                            <dd>
                                <a href='/content/index?page=service'>报装开通</a>
                                @{ DataTable btmList3 = new BasePage().get_article_list("content", 64, 0, "status=0 and category_id!=65 and category_id!=66"); }
                                @foreach(DataRow dr in btmList3.Rows) { 
                                <a href='/content/index?page=@dr["call_index"]'>@dr["title"]</a>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="menu-item col-md-2">
                        <dl>
                            <dt>@nav4.title</dt>
                            <dd>
                                @{ DataTable btmList4 = new BasePage().get_category_child_list("cases", 0); }
                                @foreach(DataRow cdr in btmList4.Rows) { 
                                <a href='/cases/list?category_id=@cdr["id"]'>@cdr["title"]</a>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="menu-item col-md-2">
                        <dl>
                            <dt>@nav5.title</dt>
                            <dd>
                                @{ DataTable btmList5 = new BasePage().get_article_list("content", 61, 0, "status=0"); }
                                @foreach(DataRow dr in btmList5.Rows) { 
                                <a href='/content/index?page=@dr["call_index"]'>@dr["title"]</a>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="weixin col-md-4">
                        <img src="~/Content/images/qr.jpg" alt="">
                        <div>官方微信</div>
                    </div>
                    <div class="map col-md-8">
                        <img src="~/Content/images/map.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <!--<div class="links">
                <a href="">联系我们</a>
                <a href="">法律声明</a>
                <a href="">友情链接</a>
                <a href="">网站地图</a>
            </div>-->
            @Html.GetSiteModel().copyright <a target="_blank" href="http://www.beian.miit.gov.cn">备案号：@Html.GetSiteModel().crod</a>
        </div>
    </div>
</div>