@{
    Layout = null;
    DTcms.Model.sysconfig sysConfig = ViewBag.sysConfig as DTcms.Model.sysconfig;
    List<DTcms.Model.article_attribute_field> OtherFieldList = ViewBag.OtherFieldList as List<DTcms.Model.article_attribute_field>;
    List<DTcms.Model.article_attribute_field> ShowSysFieldList = ViewBag.ShowSysFieldList;
    DTcms.Model.site_channel channelModel = ViewBag.channelModel;
    System.Data.DataTable rptPrice = ViewBag.rptPrice;
    string filename = ViewBag.filename;
}
@using DTcms.Common;
@using DTcms.Web.HtmlExtensions;
@model DTcms.Model.article
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑内容</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="~/scripts/artdialog/ui-dialog.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/admin/skin/icon/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/admin/skin/default/style.css" />
    <script type="text/javascript" charset="utf-8" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/scripts/datepicker/WdatePicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/scripts/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/editor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/editor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/editor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/admin/js/uploader.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/admin/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/admin/js/laymain.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化表单验证
            $("#form1").initValidform();

            //计算用户组价格
            $("#field_control_sell_price").change(function () {
                var sprice = parseFloat($(this).val());
                if (sprice > 0) {
                    $(".groupprice").each(function () {
                        var num = parseFloat($(this).attr("discount")) * sprice / 100;
                        $(this).val(ForDight(num, 2));
                    });
                }
            });

            //初始化编辑器
            $(".editor").each(function (i) {
                var objId = $(this).attr("id");
                if (objId != "undefined") {
                    var editor = UE.getEditor(objId, {
                        serverUrl: '../../../tools/upload_ajax.ashx',
                        initialFrameWidth: '100%',
                        initialFrameHeight: 350
                    });
                }
            });
            $(".editor-mini").each(function (i) {
                var objId = $(this).attr("id");
                if (objId != "undefined") {
                    var editorMini = UE.getEditor(objId, {
                        serverUrl: '../../../tools/upload_ajax.ashx',
                        initialFrameWidth: '100%',
                        initialFrameHeight: 250,
                        toolbars: [[
                            'fullscreen', 'source', '|', 'undo', 'redo', '|',
                            'bold', 'italic', 'underline', 'strikethrough', 'removeformat', 'pasteplain', '|', 'forecolor', 'insertorderedlist', 'insertunorderedlist', '|',
                            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                            'link', 'unlink', 'anchor', '|',
                            'simpleupload', 'insertimage', 'scrawl', 'insertvideo'
                        ]]
                    });
                }
            });

            //初始化上传控件
            $(".upload-img").InitUploader({ filesize: "@sysConfig.imgsize", sendurl: "../../tools/upload_ajax.ashx", swf: "../../scripts/webuploader/uploader.swf", filetypes: "@sysConfig.fileextension %>" });
            $(".upload-video").InitUploader({ filesize: "@sysConfig.videosize", sendurl: "../../tools/upload_ajax.ashx", swf: "../../scripts/webuploader/uploader.swf", filetypes: "@sysConfig.videoextension %>" });
            $(".upload-album").InitUploader({ btntext: "批量上传", multiple: true, water: true, thumbnail: true, filesize: "<%=sysConfig.imgsize %>", sendurl: "../../tools/upload_ajax.ashx", swf: "../../scripts/webuploader/uploader.swf" });

            //设置封面图片的样式
            $(".photo-list ul li .img-box img").each(function () {
                if ($(this).attr("src") == $("#hidFocusPhoto").val()) {
                    $(this).parent().addClass("selected");
                }
            });

            //创建上传附件
            $(".attach-btn").click(function () {
                showAttachDialog();
            });
        });

        //初始化附件窗口
        function showAttachDialog(obj) {
            var objNum = arguments.length;
            var attachDialog = top.dialog({
                id: 'attachDialogId',
                title: "上传附件",
                url: 'dialog/dialog_article_attach.aspx',
                width: 500,
                height: 180,
                onclose: function () {
                    var liHtml = this.returnValue; //获取返回值
                    if (liHtml.length > 0) {
                        $("#showAttachList").children("ul").append(liHtml);
                    }
                }
            }).showModal();
            //如果是修改状态，将对象传进去
            if (objNum == 1) {
                attachDialog.data = obj;
            }
        }
        //删除附件节点
        function delAttachNode(obj) {
            $(obj).parent().remove();
        }

    </script>
</head>

<body class="mainbody">
    @using (Html.BeginForm("Category_edit", "Article", new { id = DTRequest.GetString("id"), channel_id = DTRequest.GetString("channel_id"), submitAction = DTRequest.GetString("action") }, FormMethod.Post, new { id = "form1" }))
    {
        @Html.AntiForgeryToken()
        <!--导航栏-->
        <div class="location">
            <a href="article_list?channel_id=@ViewBag.channel_id" class="back"><i class="iconfont icon-up"></i><span>返回列表页</span></a>
            <a href="/admin/center"><i class="iconfont icon-home"></i><span>首页</span></a>
            <i class="arrow iconfont icon-arrow-right"></i>
            <a href="article_list?channel_id=@ViewBag.channel_id"><span>内容管理</span></a>
            <i class="arrow iconfont icon-arrow-right"></i>
            <span>编辑内容</span>
        </div>
        <div class="line10"></div>
        <!--/导航栏-->
        <!--内容-->
        <div id="floatHead" class="content-tab-wrap">
            <div class="content-tab">
                <div class="content-tab-ul-wrap">
                    <ul>
                        <li><a class="selected" href="javascript:;">基本信息</a></li>
                        @if (OtherFieldList.Count > 0)
                        {
                            <li id="field_tab_item"><a href="javascript:;">扩展选项</a></li>
                        }
                        <li><a href="javascript:;">详细描述</a></li>
                        <li><a href="javascript:;">SEO选项</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <dl>
                <dt>所属类别</dt>
                <dd>
                    <div class="rule-single-select">
                        @Html.DropDownListFor(m => m.category_id, ViewBag.ddlCategoryId as List<SelectListItem>)
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>是否发布</dt>
                <dd>
                    <div class="rule-single-checkbox">
                        @Html.CheckBox("status", Model.status != 2)
                    </div>
                    <span class="Validform_checktip">*不发布前台则无法显示</span>
                </dd>
            </dl>
            <dl>
                <dt>推荐类型</dt>
                <dd>
                    <div class="rule-multi-checkbox">
                        <span id="cblItem">
                            @Html.CheckBox("is_msg", Model.is_msg == 1)<label for="is_msg">允许评论</label>
                            @Html.CheckBox("is_top", Model.is_top == 1)<label for="is_top">置顶</label>
                            @Html.CheckBox("is_red", Model.is_red == 1)<label for="is_red">推荐</label>
                            @Html.CheckBox("is_hot", Model.is_hot == 1)<label for="is_hot">热门</label>
                            @Html.CheckBox("is_slide", Model.is_slide == 1)<label for="is_slide">幻灯片</label>
                        </span>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>内容标题</dt>
                <dd>
                    <input type="text" id="title" name="title" class="input normal" datatype="*2-100" sucmsg=" " value="@Model.title" />
                    <span class="Validform_checktip">*标题最多100个字符</span>
                </dd>
            </dl>
            @if (ShowSysFieldList.Where(m => m.name == "sub_title").Count() == 1)
            {
                <dl id="div_sub_title">
                    <dt><span id="div_sub_title_title">副标题</span></dt>
                    <dd>
                        <input ID="field_control_sub_title" name="field_control_sub_title" class="input normal" datatype="*0-255" sucmsg=" " value='@Model.fields["sub_title"]' />
                        <span id="div_sub_title_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }

            <dl>
                <dt>Tags标签</dt>
                <dd>
                    <input type="text" id="tags" name="tags" class="input normal" datatype="*0-500" sucmsg=" " value="@Model.tags" />
                    <span class="Validform_checktip">多个可用英文逗号分隔开，如：a,b</span>
                </dd>
            </dl>
            <dl>
                <dt>封面图片</dt>
                <dd>
                    @if (!filename.StartsWith("thumb_"))
                    {
                        <input name="img_url" type="text" id="img_url" class="input normal upload-path" value="@Model.img_url" />
                    }
                    else
                    {
                        <input name="img_url" type="text" id="img_url" class="input normal upload-path" value="" />
                    }
                    <div class="upload-box upload-img"></div>
                </dd>
            </dl>
            @if (ShowSysFieldList.Where(m => m.name == "goods_no").Count() == 1)
            {
                <dl id="div_goods_no">
                    <dt><span id="div_goods_no_title">商品货号</span></dt>
                    <dd>
                        <input ID="field_control_goods_no" name="field_control_goods_no" class="input normal" datatype="*0-100" sucmsg=" " value='@Model.fields["goods_no"]' />
                        <span id="div_goods_no_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            @if (ShowSysFieldList.Where(m => m.name == "stock_quantity").Count() == 1)
            {
                <dl id="div_stock_quantity">
                    <dt><span id="div_stock_quantity_title">库存数量</span></dt>
                    <dd>
                        <input ID="field_control_stock_quantity" name="field_control_stock_quantity" class="input small" datatype="n" sucmsg=" " value='@Model.fields["stock_quantity"]' />
                        <span id="div_stock_quantity_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            @if (ShowSysFieldList.Where(m => m.name == "market_price").Count() == 1)
            {
                <dl id="div_market_price">
                    <dt><span id="div_market_price_title">市场价格</span></dt>
                    <dd>
                        <input ID="field_control_market_price" name="field_control_market_price" class="input small" datatype="/^(([1-9]{1}\d*)|([0]{1}))(\.(\d){1,2})?$/" sucmsg=" "  value='@Model.fields["market_price"]'/>元
                        <span id="div_market_price_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            @if (ShowSysFieldList.Where(m => m.name == "sell_price").Count() == 1)
            {
                <dl id="div_sell_price">
                    <dt><span id="div_sell_price_title">销售价格</span></dt>
                    <dd>
                        <input ID="field_control_sell_price" name="field_control_sell_price" class="input small" datatype="/^(([1-9]{1}\d*)|([0]{1}))(\.(\d){1,2})?$/" sucmsg=" " value='@Model.fields["sell_price"]' />元
                        <span id="div_sell_price_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            @if (rptPrice != null)
            {
                <dl>
                    <dt>会员价格</dt>
                    <dd>
                        <div class="table-container">
                            <table border="0" cellspacing="0" cellpadding="0" class="border-table">

                                @foreach (System.Data.DataRow dr in rptPrice.Rows)
                                {
                                <tr>
                                    <th width="20%">@dr["title"]</th>
                                    <td width="80%">
                                        <input id="hidePriceId" type="hidden" />
                                        <input id="hideGroupId" type="hidden" Value='@dr["id"]' />
                                        <input id="txtGroupPrice" type="text" discount='@dr["discount"]' class="td-input groupprice" maxlength="10" style="width:60px;" datatype="/^(([1-9]{1}\d*)|([0]{1}))(\.(\d){1,2})?$/" sucmsg=" " />
                                        <span class="Validform_checktip">*享受(@dr["discount"])折优惠</span>
                                    </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </dd>
                </dl>
            }
            @if (ShowSysFieldList.Where(m => m.name == "point").Count() == 1)
            {
                <dl id="div_point">
                    <dt><span id="div_point_title">积分</span></dt>
                    <dd>
                        <input ID="field_control_point" name="field_control_point" class="input small" datatype="/^-?\d+$/" sucmsg=" " value='@Model.fields["point"]' />
                        <span id="div_point_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            <dl>
                <dt>排序数字</dt>
                <dd>
                    <input type="text" id="sort_id" name="sort_id" class="input small" datatype="n" sucmsg=" " value="@Model.sort_id" />
                    <span class="Validform_checktip">*数字，越小越向前</span>
                </dd>
            </dl>
            <dl>
                <dt>浏览次数</dt>
                <dd>
                    <input type="text" id="click" name="click" class="input small" datatype="n" sucmsg=" " value="@Model.click" />
                    <span class="Validform_checktip">点击浏览该信息自动+1</span>
                </dd>
            </dl>
            <dl>
                <dt>发布时间</dt>
                <dd>
                    <input name="add_time" type="text" value="2019-07-02 09:10:45" id="add_time" class="input rule-date-input" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" datatype="/^\s*$|^\d{4}\-\d{1,2}\-\d{1,2}\s{1}(\d{1,2}:){2}\d{1,2}$/" errormsg="请选择正确的日期" sucmsg=" " />
                    <span class="Validform_checktip">不选择默认当前发布时间</span>
                </dd>
            </dl>
            @if (channelModel.is_albums == 1)
            {
                <dl id="div_albums_container">
                    <dt>图片相册</dt>
                    <dd>
                        <div class="upload-box upload-album"></div>
                        @if (filename.StartsWith("thumb_"))
                        {
                            <input type="hidden" name="hidFocusPhoto" id="hidFocusPhoto" class="focus-photo" value="@Model.img_url" />
                        }
                        else
                        {
                            <input type="hidden" name="hidFocusPhoto" id="hidFocusPhoto" class="focus-photo" />
                        }

                        <div class="photo-list">
                            <ul>
                                @foreach (var item in Model.albums)
                                {
                                <li>
                                    <input type="hidden" name="hid_photo_name" value="@item.id|@item.original_path|@item.thumb_path" />
                                    <input type="hidden" name="hid_photo_remark" value="@item.remark" />
                                    <div class="img-box" onclick="setFocusImg(this);">
                                        <img src="@item.thumb_path" bigsrc="@item.original_path" />
                                        <span class="remark"><i>@(item.remark.ToString() == "" ? "暂无描述..." : item.remark.ToString())</i></span>
                                    </div>
                                    <a href="javascript:;" onclick="setRemark(this);">描述</a>
                                    <a href="javascript:;" onclick="delImg(this);">删除</a>
                                </li>
                                }
                            </ul>
                        </div>
                    </dd>
                </dl>
            }
            @if (channelModel.is_attach == 1)
            {
                <dl id="div_attach_container">
                    <dt>上传附件</dt>
                    <dd>
                        <a class="icon-btn attach-btn"><i class="iconfont icon-add"></i><span>添加附件</span></a>
                        <div id="showAttachList" class="attach-list">
                            <ul>
                                @foreach (var item in Model.attach)
                                {
                                    <li>
                                        <input name="hid_attach_id" type="hidden" value="@item.id" />
                                        <input name="hid_attach_filename" type="hidden" value="@item.file_name" />
                                        <input name="hid_attach_filepath" type="hidden" value="@item.file_path" />
                                        <input name="hid_attach_filesize" type="hidden" value="@item.file_size" />
                                        <i class="iconfont icon-attachment"></i>
                                        <a href="javascript:;" onclick="delAttachNode(this);" class="del" title="删除附件"><i class="iconfont icon-remove"></i></a>
                                        <a href="javascript:;" onclick="showAttachDialog(this);" class="edit" title="更新附件"><i class="iconfont icon-pencil"></i></a>
                                        <div class="title">@item.file_name</div>
                                        <div class="info">类型：<span class="ext">@item.file_ext</span> 大小：<span class="size">@(Convert.ToInt32(item.file_size) > 1024 ? Convert.ToDouble((Convert.ToDouble(item.file_size) / 1024f)).ToString("0.0") + "MB" : item.file_size + "KB")</span> 下载：<span class="down">@item.down_num</span>次</div>
                                        <div class="btns">下载积分：<input type="text" name="txt_attach_point" onkeydown="return checkNumber(event);" value="@item.point" /></div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </dd>
                </dl>
            }
        </div>
        if (OtherFieldList.Count > 0)
        {
            <div id="field_tab_content" class="tab-content" style="display:none">@Html.Article_editCreateOtherField(OtherFieldList, Model)</div>
        }
        <div class="tab-content" style="display:none">
            <dl>
                <dt>调用别名</dt>
                <dd>
                    <input name="call_index" type="text" id="call_index" class="input normal" datatype="/^\s*$|^[a-zA-Z0-9\-\_]{2,50}$/" errormsg="请填写正确的别名" sucmsg=" " value="@Model.call_index" />
                    <span class="Validform_checktip">*别名访问，非必填，不可重复</span>
                </dd>
            </dl>
            <dl>
                <dt>URL链接</dt>
                <dd>
                    <input name="link_url" type="text" maxlength="255" id="link_url" class="input normal" value="@Model.link_url" />
                    <span class="Validform_checktip">填写后直接跳转到该网址</span>
                </dd>
            </dl>
            @if (ShowSysFieldList.Where(m => m.name == "source").Count() == 1)
            {
                <dl id="div_source">
                    <dt><span id="div_source_title">信息来源</span></dt>
                    <dd>
                        <input ID="field_control_source" name="field_control_source" class="input normal" sucmsg=" " value='@Model.fields["source"]' />
                        <span id="div_source_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            @if (ShowSysFieldList.Where(m => m.name == "author").Count() == 1)
            {
                <dl id="div_author">
                    <dt><span id="div_author_title">文章作者</span></dt>
                    <dd>
                        <input ID="field_control_author" name="field_control_author" class="input normal" datatype="s0-50" sucmsg=" " value='@Model.fields["author"]' />
                        <span id="div_author_tip" class="Validform_checktip"></span>
                    </dd>
                </dl>
            }
            <dl>
                <dt>内容摘要</dt>
                <dd>
                    <textarea name="zhaiyao" rows="2" cols="20" id="zhaiyao" class="input" datatype="*0-255" sucmsg=" ">@Model.zhaiyao</textarea>
                    <span class="Validform_checktip">不填写则自动截取内容前255字符</span>
                </dd>
            </dl>
            <dl>
                <dt>内容描述</dt>
                <dd>
                    <textarea name="content" id="content" class="editor" style="width:100%;height:280px;">@Model.content</textarea>
                </dd>
            </dl>
        </div>

        <div class="tab-content" style="display:none">
            <dl>
                <dt>SEO标题</dt>
                <dd>
                    <input name="seo_title" type="text" maxlength="255" id="seo_title" class="input normal" datatype="s0-100" sucmsg=" " value="@Model.seo_title" />
                    <span class="Validform_checktip">255个字符以内</span>
                </dd>
            </dl>
            <dl>
                <dt>SEO关健字</dt>
                <dd>
                    <textarea name="seo_keywords" rows="2" cols="20" id="seo_keywords" class="input">@Model.seo_keywords</textarea>
                    <span class="Validform_checktip">以“,”逗号区分开，255个字符以内</span>
                </dd>
            </dl>
            <dl>
                <dt>SEO描述</dt>
                <dd>
                    <textarea name="seo_description" rows="2" cols="20" id="seo_description" class="input">@Model.seo_description</textarea>
                    <span class="Validform_checktip">255个字符以内</span>
                </dd>
            </dl>
        </div>
        <!--/内容-->
        <!--工具栏-->
        <div class="page-footer">
            <div class="btn-wrap">
                <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn">
                <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
            </div>
        </div>
        <!--/工具栏-->
    }
</body>
</html>